asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.5
cffi==2.1.1
click==8.5.0
constantly==23.10.4
crispy-bootstrap5==2026.9
cryptography==50.0.2
daphne==4.2.3
Django==5.2.18
django-crispy-forms==2.7
django-extensions==4.1
djangorestframework==3.18.3
gunicorn==26.2.0
h11==0.16.0
hyperlink==21.0.0
idna==3.20
Incremental==24.11.0
msgpack==1.2.3
packaging==26.3
pycparser==3.1
pyOpenSSL==26.4.0
python-decouple==3.8
service-identity==26.1.0
sqlparse==0.6.0
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
tzdata==2026.5
ujson==6.0.0
uvicorn==0.54.0
waitress==3.0.2
whitenoise==6.12.0
zope.interface==8.6
