{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Alojamientos</title>

    <!-- Bootstrap inyectado desde bootstraps.py -->
    <link rel="stylesheet" href="{{ BOOTSTRAP_CSS }}">

    <!-- Tus estilos propios -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenida a cabanas</h1>
    </header>

    {% block content %}
    <!-- Aquí se renderiza el contenido de cada vista -->
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="{{ BOOTSTRAP_JS }}"></script>

    <!-- Tus scripts propios -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
