{% extends "base.html" %}
{% block content %}
<h1>Listado de Alojamientos</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicación</th>
      <th>Capacidad</th>
    </tr>
  </thead>
  <tbody>
    {% for alojamiento in alojamientos %}
    <tr>
      <td>{{ alojamiento.nombre }}</td>
      <td>{{ alojamiento.ubicacion }}</td>
      <td>{{ alojamiento.capacidad }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'alojamientos_create' %}">Nuevo alojamiento</a>
{% endblock %}
